* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	width: 50% !important;
	margin: 30px auto;
}

td {
	padding: 0;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;

	width: 1% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

.word-cell {
	border: none;
	background-color: rgba(0, 0, 0, 0) !important;
}

.grammar-row {
	display: flex;
	align-items: center;
	margin: 5px;
}

.variable {
	max-width: 60px;
}
.value {
	max-width: 120px;
}
#add {
	margin-top: 5px;
}
.check {
	margin-top: 10px;
}

.cyk-table.active {
	border: 1px solid lightgray;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.cyk-table {
	background-color: none;
}

section {
	margin-top: 20px;
}
